.mm-wrapper {
	background: white;
	color: #444444;
	padding: 0;
	margin: 0;
	font-family: "Proxima Nova", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
	font-size: 100%;
}

.mm-wrapper * {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mm-wrapper div {
	display: block;
}

.mm-wrapper img {
	border: none;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.mm-wrapper a {
	border: none;
	color: #444444;
	text-decoration: none;
	line-height: inherit;
}

.mm-header {
	display: block;

	background: url("http://moscowmarathon.org/static/img/header-bgr.png") no-repeat;
	height: 120px;
	width: 100%;
	
}
.mm-row {
	clear: both;

	content: " ";
	display: table;

	display: block;

	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5rem;
	
}
.mm-small-12-medium-6-columns {
	position: relative;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	float: left;

	width: 50%;
	
}

.mm-small-8-medium-6-columns {
	position: relative;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	float: left;

	width: 50%;

	
}
.mm-logo {
	padding-top: 35px;

}

.mm-contain-to-grid {
	width: 100%;
	background: #0085b2;
	height: 50px;
}

.mm-top-bar {
	
	width: 1000px;

	clear: both;

	content: " ";
	display: table;

	overflow: hidden;
	height: 50px;
	line-height: 50px;
	position: relative;
	background: #0085b2;
	margin-bottom: 0;

	background: #0085b2;
	overflow: visible;

	max-width: 62.5rem;
	margin: 0 auto;
	margin-bottom: 0;
}
.mm-top-bar {
	padding: 4px 9px 2px 29px;
}
.mm-top-bar-section {
	position: relative;
	width: auto;

	transition: none 0 0;
	left: 0 !important;
}
.mm-top-bar-section ul {
	line-height: 1.6;

	list-style: none;

	width: 100%;
	height: auto;
	display: block;
	background: #333333;
	font-size: 16px;
	margin: 0;

	width: auto;
	height: auto !important;
	display: inline;
}

.mm-top-bar-section li {
	
	padding: 0 16.66667px;
	background: #0085b2;

	display: list-item;
	text-align: -webkit-match-parent;

	float: left;
}

.mm-top-bar-section ul li > a{
	display: block;
	width: 100%;
	color: white;
	padding: 12px 0 12px 0;
	padding-left: 16.66667px;
	font-family: "Proxima Nova", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 0.8125rem;
	font-weight: normal;
	text-transform: none;
}

.mm-left {
	float: left !important;
}
.mm-active {
	padding: 6px 9px;
	border: 1px solid #3C99BF;
}
